@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-[#0A081D] min-h-screen gap-x-12 h-full;
}

.slick-arrow.slick-next,
.slick-arrow.slick-prev {
  background-color: #ffffff;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.slick-arrow.slick-next:hover,
.slick-arrow.slick-prev:hover {
  background-color: #ffff;
  opacity: 1;
}

.slick-prev::before,
.slick-next::before {
  display: none;
}

select:invalid {
  @apply text-gray-400;
}
option {
  @apply text-black my-4;
}
